.jumbotron {
    background-size: 100% 100%;
    
    background-image: linear-gradient(
        to bottom,
        rgb(228, 163, 190),
        rgba(220, 221, 140, 0.8)
    ),
    url(../img/bg.jpg);
    height: 30rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window1 {
    background-image: url("/img/b8.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window2 {
    background-image: url("/img/b9.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window3 {
    background-image: url("/img/b12.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-window4 {
    background-image: url("/img/b12.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-section {
    width: 100%;
padding-left: 5px;
padding-right: 5px;
}

.profile-photo {
    width: 25%;
    border-radius: 90%;
}

.project-header-text {
    color: rgb(99, 25, 25);
}

.experience-header-text {
    color: rgb(16, 44, 70);
}

.skill-header-text {
    color: rgb(77, 10, 63);
}



.project-image {
    width: 15rem;
}

.left {
    width: 10%;
    float: left;
}

.right {
    width:80%;
    float: right;
}